# 1. Build Directories
build/
bin/
obj/

# 2. Executable and Library Files
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.ilk

# VS Code File
.vscode/
.vs/
ipch/
.cache/
.triggerRelease
temp/

# 3. CMake Files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

ImplementationNotes.md